<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;background-color: lightyellow; }
form {border: 3px solid #f1f1f1;width: 25%;padding-left: 2%;
padding-top: 2%;padding-bottom: 2%; background-color: pink; font-size: 20px;}


</style>
</head>
<body>

<center>
<h1>New Contact</h1>

<%= render 'form', contact: @contact %>

<%= link_to 'Back', contacts_path %>

</center>
</body>
</html>